body{
background: #F0F2F5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
  }

.firstdiv{
background-color: #F0F2F5;
 width: 100%; 
height: 30vh;

}
.seconddiv{
background-color: #F0F2F5;
 width: 100%; 
height: 100vh;
}
.main{
  display: flex;
  flex-direction: row;
}
@media(max-width:630px) {
  .main{
    display: flex;
    flex-direction: column;
  }
  .firstdiv{
width: 100%;

  }
  .seconddiv{
    width: 100%;
  }

}
img{
  width: 297px;
  padding-left: 130px;
  margin-top: 2.3%;
}
      .firstdiv>a{
  font-family:  Helvetica, Arial, sans-serif;
  font-style: bold;
  font-size:27px;
  /*margin:10px 0px 10px 0px ;*/
line-height: 26px;

}

.forms{
  background-color: #FFFFFF;
  line-height: 28px;
  padding: 25px ;
  display: flex;
 justify-content: center;
margin-right: 100px;
margin-left: 100px;
margin-top: 50px;
border-radius: 10px;
box-shadow: 0 1px 1px #dadce0;
border: 1.5px solid #dadce0;
color: #202124;

}


button,b{
cursor: pointer;
}

b:hover{
  text-decoration: underline;
}

.email,.password{
    padding: 5px 0;
}
input:focus{
  border: 2px solid blue;
}
#login{
  background-color:#1877F2;
  border-color: transparent;
  color: #FFF;
  border-radius: 3px;
}

#new{
  background-color: #42B72A;
  border-color: transparent;
  color: #FFFFFF;
  border-radius: 3px;
}